body {
    background-color:black;
    font-family:arial;
    color:rgb(161, 140, 140)
}
h1{
    color:grey;
    font-family:verdana
}
.maindiv {

    background-color: #ffffff;
    color: #000000;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;

}
.highlight
{
    background-color: #ffff00;
}

#years{
    margin-top: 10px;
}

#footer
{
    margin-top: 10px;
}

.labels
{
    width: 120px;
}
#rate {
    margin-top: 10px;
}
.contents
{
    margin-left: 60px;
}
#compute {
    margin-top: 10px;
}
.foot  {
    margin-top: 10px;

} 
